* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e9ecf4;
  color: #000;
  font-family: "Roboto", sans-serif;
  transition: 0.7s ease all;
}

.container-grid {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4 1f);
  grid-template-rows: repeat(4 auto);
  grid-gap: 10px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

.header {
  grid-area: header;
  box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  -moz-box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
}

.header__nav {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  transition: 0.7s ease all;
}

.logo {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.header__nav--items {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.header__nav--items a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  transition: all 500ms ease;
}

.header__nav--items a:hover,
.active {
  border-bottom: 1px solid #000;
}

.menu__hamburguesa {
  display: none;
}

@media screen and (max-width: 750px) {
  .header__nav {
    display: block;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .header__nav--items {
    display: flex;
    flex-direction: column;
  }

  #switch {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-area: main;
  padding: 10px;
  box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  -moz-box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  transition: 0.7s ease all;
}

.main__card {
  margin-right: 50px;
}

.main__contenedor {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main__card {
  background-image: linear-gradient(to bottom, transparent, #ccc);
  width: 160px;
  padding: 10px;
}

.main__img {
  padding: 10px;
}

.main__botones {
  display: flex;
  justify-content: space-around;
}

.main__botones--boton {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: rgba(167, 167, 167, 0.973);
  font-weight: 600;
}

.main__botones--boton:first-child {
  border: 1px solid #3154ff;
  background-color: #3154ff;
  color: #fff;
}

.aside {
  grid-area: aside;
  background: chocolate;
}

.footer {
  grid-area: footer;
  box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  -moz-box-shadow: 0px 3px 6px 1px rgba(123, 123, 123, 0.75);
  padding: 10px;
  transition: 0.7s ease all;
}

.creditos-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.creditos {
  padding: 5px;
}

.redes-sociales a {
  padding: 5px;
  text-decoration: none;
  color: #000;
}

.icon-github,
.icon-ig {
  font-size: 25px;
}

@media screen and (max-width: 750px) {
  .main__card {
    margin: auto;
  }
}

/*Inicio del codigo del dark mode*/
/*------Inicio-Boton-Switch------------*/

.dark {
  background: #000;
  color: #fff;
}

.color-letra a {
  color: #fff;
  text-decoration: none;
}

.color-letra a:hover {
  border-bottom: 1px solid #fff;
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin-right: 20px;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.activee {
  background: orange;
  color: #000;
}

.activee::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/*------final-Boton-Switch------------*/
/*Final del codigo dark mode*/
